<div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5>FanProtect Button</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Buy and sell with confidence</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Customer service all the way to your seat</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Every order is 100% guaranteed</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Our Company</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About Us</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Press Box</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Partners</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">For Developers</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Affiliates</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Careers</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>Have Questions?</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help Center</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">StubHub Community</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Top Cities</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gift Cards</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <p>Live events all over the world</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">United States</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="United States">
            </div>
          </form>
          <form>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">English</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="English">
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>© 2000-2022 StubHub. All Rights Reserved. Use of this website signifies your agreement to our User Agreement, Privacy Notice and Cookie Notice. You are buying tickets from a third party; StubHub is not the ticket seller. Prices are set by sellers and may be above face value. User Agreement change notifications</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>