<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.stubhubstatic.com/stubhub-product/d_defaultLogo.jpg/q_auto:low,f_auto,c_fill,g_face,w_974,h_324/homepage/jumbotron/sports/football/CRM_NFL-Schedule-Release_Jumbotron_1560x520.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://media.stubhubstatic.com/stubhub-product/d_defaultLogo.jpg/q_auto:low,f_auto,c_fill,g_face,w_974,h_324/homepage/jumbotron/sports/basketball/basketball-GettyImages-146275124-1560x520.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://media.stubhubstatic.com/d_defaultLogo.jpg/f_auto,q_auto/v1642037068/Marketing/Campaign%20Assets/Jumbotron/SuperBowl-Jumbotron.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://media.stubhubstatic.com/stubhub-catalog/image/upload/ar_3:2,g_faces,c_thumb,z_1.5,h_ih_div_3_mul_2/if_!jumbo!_in_ctx/$b_ctx:!jumbo!,w_1312,h_440,g_east,c_pad,b_$b/if_else/w_1312,h_440,dpr_2.0,g_east,c_pad,b_auto:border/if_end/e_gradient_fade:symmetric_pad,x_0.1/d_defaultLogo.jpg/q_auto:low,f_auto,c_fill,g_face,dpr_2.0,w_974,h_324//performer/1522458/af2dc63bb7848d048b053cbc85d4b2fb.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="https://media.stubhubstatic.com/stubhub-product/d_defaultLogo.jpg/q_auto:low,f_auto,c_fill,g_face,w_974,h_324/homepage/jumbotron/sports/hockey/hockey-GettyImages-681733394-e-1560x520.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  