<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/CRM_NFL-Schedule-Release_Jumbotron_1560x520.png" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/home/loud/angular-workspace/stubhub-app/src/assets/hockey-GettyImages-681733394-e-1560x520.jpg" class="d-block w-80 position-relative bottom-100 start-50 translate-middle-x" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/home/loud/angular-workspace/stubhub-app/src/assets/af2dc63bb7848d048b053cbc85d4b2fb.jpg" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/home/loud/angular-workspace/stubhub-app/src/assets/SuperBowl-Jumbotron.png" class="d-block w-80" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/home/loud/angular-workspace/stubhub-app/src/assets/basketball-GettyImages-146275124-1560x520.jpg" class="d-block w-80" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
  </div>


  