
<nav class="navbar navbar-default aria-expanded navbar-static-top border-bottom border-black">
  <div>
    <body>
    Go with confidence: Check COVID-19 verification and safety requirements with the venue/team/performer. Learn about our
    <a href="https://support.stubhub.com/en/support/solutions/articles/61000276296" target="_blank">
      
        impacted event policy

     
    </a>
    and
    <a href="https://www.stubhub.com/about-us/" target="_blank">
    FanProtect Guarantee</a>.
    </body>
  </div>
</nav>


<nav class="navbar navbar-default navbar-static-top bg-white text-black">
  
  <div class="container">
    StubHub is the world's top destination for ticket buyers and resellers. Prices may be higher or lower than face value.
  </div>
  
</nav>

<nav class="navbar navbar-light bg-white border-bottom border-top border-black">
  <a class="navbar-brand" href="#">
    <img src="assets/StubHub-Logo.jpg" width="110" height="90">
  </a>

  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-light" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="purple" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
      </div>
      <input type="text" class="form-control bg-light" placeholder="Event, artist or team" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sell
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Sell Tickets</a>
      <a class="dropdown-item" href="#">My Listings</a>
      <a class="dropdown-item" href="#">My Sales</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      My Tickets
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Orders</a>
      <a class="dropdown-item" href="#">My Listings</a>
      <a class="dropdown-item" href="#">My Sales</a>
      <a class="dropdown-item" href="#">Payments</a>
    </div>
  </div>

  <button type="button" class="btn btn-secondary text-black bg-white border-white">Sign In</button>

</nav>